<link rel="stylesheet" href='https://st.championat.com/www/_style.css?1680802101524'/>

<div style="">
<div class="t-grid js-tournament-grid">
    <div class="t-grid-levels js-t-grid-levels">
        <div class="t-grid-levels__wrapper">
            <div class="wrap _first">
                <button class="js-t-grid-levels__button t-grid-levels__button _active" data-level="0">
                    <span class="d-txt">1/8 финала</span>
                    <span class="m-txt">1/8</span>
                </button>
            </div>
            <div class="wrap">
                <button class="js-t-grid-levels__button t-grid-levels__button" data-level="1">
                    <span class="d-txt">1/4 финала</span>
                    <span class="m-txt">1/4</span>
                </button>
            </div>
            <div class="wrap">
                <button class="js-t-grid-levels__button t-grid-levels__button" data-level="2">
                    <span class="d-txt">1/2 финала</span>
                    <span class="m-txt">1/2</span>
                </button>
            </div>
            <div class="wrap">
                <button class="js-t-grid-levels__button t-grid-levels__button" data-level="3">
                    <span class="d-txt">Финал</span>
                    <span class="m-txt">Ф</span>
                </button>
            </div>
        </div>
    </div>

    <div class="js-t-grid-columns t-grid-columns">
        <div class="js-t-grid-column t-grid-column _active" data-level="0">
            <div class="t-grid-match _with-additional" data-match-label="A01">
                <div class="t-grid-team">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16771765071081147540.png" alt="Нидерланды">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230759">
                        <a href="/football/_worldcup/tournament/4949/teams/230759/result/">
                        Нидерланды                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                        <a class="score-content" href="/football/_worldcup/tournament/4949/match/1030133/" title="Нидерланды - США, 03.12.2022. ЧМ-2022 - финальный раунд">
                        3 : 1                                                                                                                                                                        </a>
                    </div>
                </div>
                <div class="t-grid-team _lose">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/1678049360576942124.png" alt="США">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230771">
                        <a href="/football/_worldcup/tournament/4949/teams/230771/result/">
                        США                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                    </div>
                </div>
            </div>
            <div class="t-grid-match _with-additional" data-match-label="A02">
                <div class="t-grid-team">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16779594861949298941.png" alt="Аргентина">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230775">
                        <a href="/football/_worldcup/tournament/4949/teams/230775/result/">
                        Аргентина                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                        <a class="score-content" href="/football/_worldcup/tournament/4949/match/1030129/" title="Аргентина - Австралия, 03.12.2022. ЧМ-2022 - финальный раунд">
                        2 : 1                                                                                                                                                                        </a>
                    </div>
                </div>
                <div class="t-grid-team _lose">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/1677959940497598084.png" alt="Австралия">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="232009">
                        <a href="/football/_worldcup/tournament/4949/teams/232009/result/">
                        Австралия                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                    </div>
                </div>
            </div>
            <div class="t-grid-match _with-additional" data-match-label="A05">
                <div class="t-grid-team _lose">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/1678193233996899146.png" alt="Япония">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230761">
                        <a href="/football/_worldcup/tournament/4949/teams/230761/result/">
                        Япония                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                        <a class="score-content" href="/football/_worldcup/tournament/4949/match/1030123/" title="Япония - Хорватия, 05.12.2022. ЧМ-2022 - финальный раунд">
                            1 : 1                                                                                                                            <span class="tournament-table__result-extra">1 : 3</span>
                        </a>
                    </div>
                </div>
                <div class="t-grid-team">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16781020195680272.png" alt="Хорватия">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230753">
                        <a href="/football/_worldcup/tournament/4949/teams/230753/result/">
                        Хорватия                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                    </div>
                </div>
            </div>
            <div class="t-grid-match _with-additional" data-match-label="A06">
                <div class="t-grid-team">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16779626031342137446.png" alt="Бразилия">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230773">
                        <a href="/football/_worldcup/tournament/4949/teams/230773/result/">
                        Бразилия                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                        <a class="score-content" href="/football/_worldcup/tournament/4949/match/1030121/" title="Бразилия - Южная Корея, 05.12.2022. ЧМ-2022 - финальный раунд">
                        4 : 1                                                                                                                                                                        </a>
                    </div>
                </div>
                <div class="t-grid-team _lose">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/1678293134504294343.png" alt="Южная Корея">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230741">
                        <a href="/football/_worldcup/tournament/4949/teams/230741/result/">
                        Южная Корея                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                    </div>
                </div>
            </div>
            <div class="t-grid-match _with-additional" data-match-label="A04">
                <div class="t-grid-team">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16781049841042839813.png" alt="Англия">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230785">
                        <a href="/football/_worldcup/tournament/4949/teams/230785/result/">
                        Англия                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                        <a class="score-content" href="/football/_worldcup/tournament/4949/match/1030125/" title="Англия - Сенегал, 04.12.2022. ЧМ-2022 - финальный раунд">
                        3 : 0                                                                                                                                                                        </a>
                    </div>
                </div>
                <div class="t-grid-team _lose">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16782258742104712037.png" alt="Сенегал">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230747">
                        <a href="/football/_worldcup/tournament/4949/teams/230747/result/">
                        Сенегал                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                    </div>
                </div>
            </div>
            <div class="t-grid-match _with-additional" data-match-label="A03">
                <div class="t-grid-team">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/1677174378584588987.png" alt="Франция">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230755">
                        <a href="/football/_worldcup/tournament/4949/teams/230755/result/">
                        Франция                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                        <a class="score-content" href="/football/_worldcup/tournament/4949/match/1030127/" title="Франция - Польша, 04.12.2022. ЧМ-2022 - финальный раунд">
                        3 : 1                                                                                                                                                                        </a>
                    </div>
                </div>
                <div class="t-grid-team _lose">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16782236371793080532.png" alt="Польша">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230783">
                        <a href="/football/_worldcup/tournament/4949/teams/230783/result/">
                        Польша                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                    </div>
                </div>
            </div>
            <div class="t-grid-match _with-additional" data-match-label="A07">
                <div class="t-grid-team _highlighted">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16781999641533708658.png" alt="Марокко">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230779">
                        <a href="/football/_worldcup/tournament/4949/teams/230779/result/">
                        Марокко                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                        <a class="score-content" href="/football/_worldcup/tournament/4949/match/1030119/" title="Марокко - Испания, 06.12.2022. ЧМ-2022 - финальный раунд">
                            0 : 0                                                                                                                            <span class="tournament-table__result-extra">3 : 0</span>
                        </a>
                    </div>
                </div>
                <div class="t-grid-team _lose">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16771814141309080938.png" alt="Испания">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230795">
                        <a href="/football/_worldcup/tournament/4949/teams/230795/result/">
                        Испания                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                    </div>
                </div>
            </div>
            <div class="t-grid-match _with-additional" data-match-label="A08">
                <div class="t-grid-team">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/1678223919645478647.png" alt="Португалия">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230763">
                        <a href="/football/_worldcup/tournament/4949/teams/230763/result/">
                        Португалия                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                        <a class="score-content" href="/football/_worldcup/tournament/4949/match/1030117/" title="Португалия - Швейцария, 06.12.2022. ЧМ-2022 - финальный раунд">
                        6 : 1                                                                                                                                                                        </a>
                    </div>
                </div>
                <div class="t-grid-team _lose">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/1678050720310343946.png" alt="Швейцария">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230749">
                        <a href="/football/_worldcup/tournament/4949/teams/230749/result/">
                        Швейцария                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                    </div>
                </div>
            </div>
        </div>
        <div class="js-t-grid-column t-grid-column" data-level="1">
            <div class="t-grid-match _with-additional" data-match-label="QF2">
                <div class="t-grid-team _lose">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16771765071081147540.png" alt="Нидерланды">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230759">
                        <a href="/football/_worldcup/tournament/4949/teams/230759/result/">
                        Нидерланды                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                        <a class="score-content" href="/football/_worldcup/tournament/4949/match/1030113/" title="Нидерланды - Аргентина, 09.12.2022. ЧМ-2022 - финальный раунд">
                            2 : 2                                                                                                                            <span class="tournament-table__result-extra">3 : 4</span>
                        </a>
                    </div>
                </div>
                <div class="t-grid-team">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16779594861949298941.png" alt="Аргентина">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230775">
                        <a href="/football/_worldcup/tournament/4949/teams/230775/result/">
                        Аргентина                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                    </div>
                </div>
            </div>
            <div class="t-grid-match _with-additional" data-match-label="QF1">
                <div class="t-grid-team">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16781020195680272.png" alt="Хорватия">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230753">
                        <a href="/football/_worldcup/tournament/4949/teams/230753/result/">
                        Хорватия                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                        <a class="score-content" href="/football/_worldcup/tournament/4949/match/1030115/" title="Хорватия - Бразилия, 09.12.2022. ЧМ-2022 - финальный раунд">
                            1 : 1                                                                                                                            <span class="tournament-table__result-extra">4 : 2</span>
                        </a>
                    </div>
                </div>
                <div class="t-grid-team _lose">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16779626031342137446.png" alt="Бразилия">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230773">
                        <a href="/football/_worldcup/tournament/4949/teams/230773/result/">
                        Бразилия                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                    </div>
                </div>
            </div>
            <div class="t-grid-match _with-additional" data-match-label="QF4">
                <div class="t-grid-team _lose">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16781049841042839813.png" alt="Англия">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230785">
                        <a href="/football/_worldcup/tournament/4949/teams/230785/result/">
                        Англия                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                        <a class="score-content" href="/football/_worldcup/tournament/4949/match/1030109/" title="Англия - Франция, 10.12.2022. ЧМ-2022 - финальный раунд">
                        1 : 2                                                                                                                                                                        </a>
                    </div>
                </div>
                <div class="t-grid-team">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/1677174378584588987.png" alt="Франция">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230755">
                        <a href="/football/_worldcup/tournament/4949/teams/230755/result/">
                        Франция                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                    </div>
                </div>
            </div>
            <div class="t-grid-match _with-additional" data-match-label="QF3">
                <div class="t-grid-team _highlighted">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16781999641533708658.png" alt="Марокко">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230779">
                        <a href="/football/_worldcup/tournament/4949/teams/230779/result/">
                        Марокко                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                        <a class="score-content" href="/football/_worldcup/tournament/4949/match/1030111/" title="Марокко - Португалия, 10.12.2022. ЧМ-2022 - финальный раунд">
                        1 : 0                                                                                                                                                                        </a>
                    </div>
                </div>
                <div class="t-grid-team _lose">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/1678223919645478647.png" alt="Португалия">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230763">
                        <a href="/football/_worldcup/tournament/4949/teams/230763/result/">
                        Португалия                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                    </div>
                </div>
            </div>
        </div>
        <div class="js-t-grid-column t-grid-column" data-level="2">
            <div class="t-grid-match _with-additional" data-match-label="SF1">
                <div class="t-grid-team">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16779594861949298941.png" alt="Аргентина">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230775">
                        <a href="/football/_worldcup/tournament/4949/teams/230775/result/">
                        Аргентина                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                        <a class="score-content" href="/football/_worldcup/tournament/4949/match/1030105/" title="Аргентина - Хорватия, 13.12.2022. ЧМ-2022 - финальный раунд">
                        3 : 0                                                                                                                                                                        </a>
                    </div>
                </div>
                <div class="t-grid-team _lose">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16781020195680272.png" alt="Хорватия">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230753">
                        <a href="/football/_worldcup/tournament/4949/teams/230753/result/">
                        Хорватия                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                    </div>
                </div>
            </div>
            <div class="t-grid-match _with-additional" data-match-label="SF2">
                <div class="t-grid-team">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/1677174378584588987.png" alt="Франция">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230755">
                        <a href="/football/_worldcup/tournament/4949/teams/230755/result/">
                        Франция                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                        <a class="score-content" href="/football/_worldcup/tournament/4949/match/1030107/" title="Франция - Марокко, 14.12.2022. ЧМ-2022 - финальный раунд">
                        2 : 0                                                                                                                                                                        </a>
                    </div>
                </div>
                <div class="t-grid-team _lose _highlighted">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16781999641533708658.png" alt="Марокко">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230779">
                        <a href="/football/_worldcup/tournament/4949/teams/230779/result/">
                        Марокко                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                    </div>
                </div>
            </div>
        </div>
        <div class="js-t-grid-column t-grid-column" data-level="3">
            <div class="t-grid-match _without-links _with-additional" data-match-label="F1">
                <div class="t-grid-team">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16779594861949298941.png" alt="Аргентина">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230775">
                        <a href="/football/_worldcup/tournament/4949/teams/230775/result/">
                        Аргентина                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                        <a class="score-content" href="/football/_worldcup/tournament/4949/match/1030103/" title="Аргентина - Франция, 18.12.2022. ЧМ-2022 - финальный раунд">
                            3 : 3                                                                                                                            <span class="tournament-table__result-extra">4 : 2</span>
                        </a>
                    </div>
                </div>
                <div class="t-grid-team _lose">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/1677174378584588987.png" alt="Франция">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230755">
                        <a href="/football/_worldcup/tournament/4949/teams/230755/result/">
                        Франция                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                    </div>
                </div>
            </div>
            <div class="t-grid-match _without-links _third-place _with-additional" data-match-label="F3">
                <div class="t-grid-team">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16781020195680272.png" alt="Хорватия">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230753">
                        <a href="/football/_worldcup/tournament/4949/teams/230753/result/">
                        Хорватия                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                        <a class="score-content" href="/football/_worldcup/tournament/4949/match/1030101/" title="Хорватия - Марокко, 17.12.2022. ЧМ-2022 - финальный раунд">
                        2 : 1                                                                                                                                                                        </a>
                    </div>
                </div>
                <div class="t-grid-team _lose _highlighted">
                    <div class="t-grid-team__logo">
                        <img src="https://img.championat.com/s/60x60/team/logo/16781999641533708658.png" alt="Марокко">
                    </div>
                    <div class="t-grid-team__name js-t-grid-team__name" data-player="230779">
                        <a href="/football/_worldcup/tournament/4949/teams/230779/result/">
                        Марокко                                                                                            </a>
                    </div>
                    <div class="t-grid-team__score js-t-grid-team__score _not-played">
                    </div>
                </div>
                <span class="t-grid-match__name">За 3-е место</span>
            </div>
        </div>
    </div>
</div>
</div>